.main {
    display: flex;
    width: 80%;
    padding: 20vh;
    font-size: 1em;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0.7;
    color: #27363b;
    flex-direction: column;
}

.header_background {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
}
